// ## Colors

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: rgba(0, 255, 247);

// (mainBG)
$Very-dark-blue: hsl(217, 54%, 11%);
// (card BG)
$Very-dark-blue-2: hsl(216, 50%, 16%);
// (line)
$Very-dark-blue-3: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

// border-radius
$general-border: 0.5rem;
