.typography {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;

  // all children except last child have a margin bottom
  // doing this because of flex gap issue on safari
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  h2 {
    color: $White;
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }

  & > p {
    color: $Soft-blue;
  }
}

.nft-details {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
      height: 100%;
    }
  }
}

.eth-amount {
  color: $Cyan;
}

.time-left {
  color: $Soft-blue;
}

.nft-creator {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-right: 1.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1.8px solid $White;
  }

  p {
    color: $Soft-blue;
  }

  span {
    color: $White;
  }

  span:hover {
    color: $Cyan;
    cursor: pointer;
  }
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  color: $White;
}
.attribution a {
  color: $White;
}
