@media screen and (max-width: 405px) {
  .container {
    padding: 1.5rem;
  }

  .eye-icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  .typography {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .nft-details {
    img {
      height: 70%;
    }
  }

  .nft-creator {
    img {
      height: 2.8rem;
    }
  }
  .attribution {
    font-size: 1.2rem;
  }
}
